.Account_posts {
  top: 17%;
  left: 3%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10px;
  width: 70vw;
}
.Account_info {
  background: rgb(255, 205, 185);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Account_name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .Account_posts {
    width: 95vw;
  }
}
