.Home {
  top: 10.5vh;
  padding-bottom: 5px;
  left: 10%;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-bottom: 15vh;
}
.Home_posts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10px;
  width: 60vw;
}

.posts {
  background-color: rgba(241, 241, 241, 0.97);
  color: black;
  margin: 6px;
  border-radius: 3px;
  width: 98.5%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  height: 5vh;
}
.posts:hover {
  background-color: rgba(212, 212, 212, 0.97);
}
.Post_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

.Post_button > button {
  background-color: rgb(240, 240, 240);
  width: 100%;
  margin: 6px;
  width: 98.5%;
  border: solid rgb(158, 158, 158);
  border-width: 1px;
}
.Post_button > button:hover {
  border: solid rgb(0, 0, 0);
  border-width: 1px;
}
@media (max-width: 800px) {
  .Sidebar {
    display: none;
  }
  .Home_posts {
    width: 80vw;
  }
  .Post_button {
    width: 80vw;
  }
}
