@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.Navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: rgb(255, 255, 255);
  z-index: 2;
  height: 60px;
}
.Navbar_left {
  display: flex;
}
.Navbar_left > .MuiSvgIcon-root {
  color: rgba(235, 67, 0, 1);
  padding: 10px;
}
.Navbar_title {
  color: rgba(235, 67, 0, 1);
  padding: 14px 10px 10px 0px;
  font-family: "Montserrat", sans-serif;
}
.Navbar_search {
  display: flex;
  align-items: center;
  border-radius: 2px;
  margin: 12px 10px 10px 10px;
  height: 30px;
  flex: 0.5;
}
.Navbar_search > .MuiSvgIcon-root {
  color: gray;
  padding-left: 10px;
}

.Navbar_search > input {
  border: none;
  outline-width: 0;
  margin-left: 10px;
  margin-top: 1px;
  background-color: rgba(210, 210, 210, 0.97);
  font-size: medium;
  font-family: "Montserrat", sans-serif;
}
.Navbar_right {
  display: flex;
}
.MuiAvatar-root {
  margin: 10px;
}
.Navbar_right > .MuiIconButton-root {
  margin: 10px;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

@media only screen and (max-width: 600px) {
  .Navbar_title {
    display: none;
  }
  .Navbar_search {
    display: flex;
    align-items: center;
    background-color: rgba(210, 210, 210, 0.97);
    border-radius: 2px;
    margin: 12px 10px 10px 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    height: 30px;
    flex: 0.6;
    width: 60%;
  }
  .Navbar_search > input {
    width: 36vw;
  }
}
