.form__container {
  top: 10px;
  left: 15%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10px;
  width: 50vw;
  background-color: white;
}

.newSubreddit__title {
  margin: 10px;
}

.newSubreddit__title > textarea {
  width: 100%;
  resize: none;
  overflow: scroll;
  height: 4vh;
}

.newSubreddit__description {
  flex: 1;
  margin: 10px;
}

.newSubreddit__description > textarea {
  width: 100%;
  height: 100%;
  resize: none;
  overflow: scroll;
}
.newSubreddit__url {
  margin: 10px;
}
.newSubreddit__url > textarea {
  width: 100%;
  height: 100%;
  resize: none;
  overflow: scroll;
}

.newSubreddit__button {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.newSubreddit__button > button {
  margin: 5px;
}
