.Subreddit_post_button > button {
  background-color: rgb(240, 240, 240);
  width: 100%;
  margin: 6px;
  width: 98.5%;
  border: solid rgb(158, 158, 158);
  border-width: 1px;
}
.Subreddit_post_button > button:hover {
  border: solid rgb(0, 0, 0);
  border-width: 1px;
}
.Subreddit_posts {
  margin-top: 30px;
  top: 10%;
  left: 3%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10px;
  width: 70vw;
}
.Subreddit_info {
  top: 80px;
  left: 75%;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 20%;
  justify-content: space-between;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  min-height: 35vh;
  z-index: 5;
}
